.header{
    background-color: #926FF6;
}

.muhammad{
    font-family: "poppins";
    font-weight: 800; 
    color: white !important;
font-size: 18px;

}
.nav-link{
    font-family: "poppins";
    font-weight: 400 !important; 
    font-size: 12px;
    color: #ffffff !important;
}
.brend{
    
}
.yozu{
    font-family: "poppins";
    font-weight: 800; 

}